*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ccc;
}

.cabecalho{
    background-color: #0d6efd;
    height: 50px;
}

.container {
    background-color: white;
    margin-top:2px ;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.232);
}

button {
    margin-top: 30px;
    margin-bottom: 30px;
}